body {
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.banner{
    width: 100%;
    height: 400px;
    object-fit: contain;
    background-color: rgb(218, 213, 213) ;
}
.banner img{
  width: 100%;
  height: 100%;
}

/* productCards */
.products{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.cards{
  width: 350px;
  height: 350px;
}
.image-card{
  /* width: 100%; */
  height: 70%;
  object-fit: cover;
}
.image-card img{
  /* width: 100%; */
  height: 100%;
}
/* styles for product detail */
.detail{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}