/* .button {
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  min-width: 150px;
  background: none;
}

.btn-blk {
  border: 1px solid black;
  color: black;
}

.btn-blk:hover {
  background: black;
  color: white;
}

.btn-wht {
  border: 1px solid white;
  color: white;
}

.btn-wht:hover {
  background: white;
  color: black;
} */
.button {
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  min-width: 150px;
  background: none;
  border: none;
  cursor: pointer;
  background: red;
  color: white;
  font-size: 16px;
  font-family: "Bold";
}

.btn-long {
  width: 60%; 
}

.btn-disable {
  background: #828282;
  color: white;
  cursor: not-allowed;
}

.btn-enable {
  background: red;
  color: white;
  cursor: pointer;
}

.btn-cancel {
  background: none;
  color: black;
}