.button {
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  min-width: 150px;
  background: none;
}

.btn-blk {
  border: 1px solid black;
  color: black;
}

.btn-blk:hover {
  background: black;
  color: white;
}

.btn-wht {
  border: 1px solid white;
  color: white;
}

.btn-wht:hover {
  background: white;
  color: black;
}
