.form-element {
  width: 90%;
  /* max-width: 700px; */
  text-align: center;
  margin: 10px auto 10px auto;
  position: relative;
}

.form-element input {
  width: 100%;
  border-radius: 5px;
  border: none;
  background: #ededed;
  padding: 10px;
  font-size: 16px;
  color: #828282;
  margin: 5px auto;
  box-sizing: border-box;
  /* border: 1px solid #bdbdbd;
  padding: 8px;
  font-size: 16px;
  color: black;
  margin: 7px; */
}
.form-other {
  display: flex;
  flex-direction: column;
}
.form-other a {
  color: #828282;
  margin: 15px;
  text-decoration: none;
}

.form-other a:hover {
  color: black;
  text-decoration: none;
}
.form-element label {
  font-size: 16px;
}

.show-password {
  width: 5%;
  position: absolute;
  top: 33px;
  bottom: 15px;
  right: 0;
  color: black;
}
